{% extends 'base.html' %}
{% load static %}

{% block title %}Cautelas Vencidas{% endblock %}

{% block content %}
  <div class="form-control form-group text-center">
    <div class="row">
      <div class="col-3">
        <span>Pessoa que retirou</span>
      </div>
      <div class="col-3">
        <span>Pessoa que emprestou</span>
      </div>
      <div class="col-3">
        <span>Nome do Material</span>
      </div>
      <div class="col-3">
        <span>Número de Série</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <input type="text" id="id_filtro_retirou">
      </div>
      <div class="col-3">
        <input type="text" id="id_filtro_emprestou">
      </div>
      <div class="col-3">
        <input type="text" id="id_filtro_material">
      </div>
      <div class="col-3">
        <input type="text" id="id_filtro_numero_serie">
      </div>
    </div>
    <div class="row">
      <div class="form-check col-4">
        <input class="form-check-input" type="checkbox" value="ABERTA" id="id_cautela_aberta" >
        <label class="form-check-label" for="id_cautela_aberta">Cautela ABERTA</label>
      </div>
    <div class="form-check col-4">
      <input class="form-check-input" type="checkbox" value="FECHADA" id="id_cautela_fechada" >
      <label class="form-check-label" for="id_cautela_fechada">Cautela FECHADA</label>
    </div>
    <div class="form-check col-4">
      <input class="form-check-input" type="checkbox" value="VENCIDA" id="id_cautela_vencida" >
      <label class="form-check-label" for="id_cautela_vencida">Cautela VENCIDA</label>
    </div>
  </div>
</div>

    <table class="table table-striped table-dark text-center">
      <tr>
        <th data-toggle="tooltip" title="Nome do militar que retirou o equipamento">RETIROU</th>
        <th data-toggle="tooltip" title="Nome do miltar que emprestou o equipamento">EMPRESTOU</th>
        <th>MATERIAL</th>
        <th data-toggle="tooltip" data-html="true" title="VERDE - data da devolução<br>AMARELO -início da cautela<br>VERMELHO - fim do período da cautela">DATA</th>
        <th>SITUAÇÃO</th>
      </tr>

      {% for cautela in cautelas %}
      {% if cautela.vencida %}
      <tr class="text-danger">
      {% elif cautela.devolvido %}
      <tr class="text-success">
      {% else %}
      <tr class="text-warning">
      {% endif %}
          <td class="col-retirou" data-toggle="tooltip" data-placement="right" data-html="true" title='<img src="/media/{{cautela.pessoa_retirou.foto}}" height="200"/>' onclick="myPopup({{cautela.pessoa_retirou.telefone_pessoal}})">{{cautela.pessoa_retirou.posto_graduacao}} {{cautela.pessoa_retirou.nome_guerra}}</td>
          <td class="col-emprestou" data-toggle="tooltip" data-placement="right" data-html="true" title='<img src="/media/{{cautela.pessoa_emprestou.foto}}" height="200"/>' >{{cautela.pessoa_emprestou.posto_graduacao}} {{cautela.pessoa_emprestou.nome_guerra}}</td>
          <td class="col-material" data-toggle="tooltip" data-placement="right" data-html="true" title='<img src="/media/{{cautela.material_cautelado.foto}}" height="200"/>'>{{cautela.material_cautelado}}</td>
          {% if cautela.vencida %}
            <td>{{cautela.fim_cautela}}</td>
            <td>VENCIDA</td>
          {% elif cautela.devolvido %}
            <td>{{cautela.data_devolucao}}</td>
            <td>FECHADA</td>
          {% else %}
            <td>{{cautela.inicio_cautela}}</td>
            <td>ABERTA</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    <script type="text/javascript" src="{% static 'js/formularios.js' %}"></script>
{% endblock %}
