{% extends 'base.html' %}
{% load static %}

{% block title %}Material{% endblock %}

{% block content %}
    <table class="table table-dark table-striped text-white text-center">
      <tr>
        <th>NOME DO MATERIAL</th>
        <th>SITUAÇÃO</th>
        <th>NÚMERO DE SÉRIE</th>
        <th>ALTERAÇÕES</th>
      </tr>

      {% for item in material %}
        <tr>
          <th data-toggle="tooltip" data-placement="right" data-html="true"
          title='<img src="/media/{{item.foto}}" height="100"/>'>
          {{item.nome_material}}</th>
          {% if item.em_reserva %}
            <td>RESERVA</td>
          {% elif item.em_cautela %}
            <td>CAUTELADO</td>
          {% elif item.em_manutencao %}
            <td>MANUTENÇÃO</td>
          {% elif item.indisponivel %}
            <td>INDISPONÍVEL</td>
          {% endif %}
          {% if not item.numero_serie %}
            <td>S/N</td>
          {% else %}
            <td>{{item.numero_serie}}</td>
          {% endif %}
          {% if not item.descricao %}
            <td>S/A</td>
          {% else %}
            <td>{{item.descricao}}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
{% endblock %}
