{% extends 'base.html' %}
{% load static %}

{% block content %}
    <table class="table table-striped table-dark text-white text-center">
      <tr>
        <th>NOME</th>
        <th>TOTAL</th>
        <th>EM RESERVA</th>
        <th>CAUTELADOS</th>
        <th>NUMERO DE SÉRIE</th>
        <th>ALTERAÇÕES</th>
      </tr>

      {% for material in materiais %}
        <tr>
          <th data-toggle="tooltip" data-placement="right" data-html="true" title='<img src="/media/{{material.foto}}" height="100"/>'>{{material.nome_material}}</th>
          <td>{{material.qtd_total}}</td>
          <td>{{material.qtd_em_reserva}}</td>
          <td>{{material.qtd_cautelado}}</td>
          <td>{{material.numero_serie}}</td>
          <td>{{material.descricao}}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
