{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block title %}Emprestar Material{% endblock %}

{% block content %}
<div class="alert alert-dark text-center text-white bg-dark" role="alert">
  {{status}}
</div>
  <form action="emprestar" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_identidade_empresta">Identidade Militar</label>
      {{formulario.identidade_empresta|addclass:'form-control'}}
      <small id="identidadeEmprestaHelp" class="form-text text-muted">Insira seu número de identidade sem traços</small>
    </div>
    <div class="form-group">
      <label for="id_senha_empresta">Senha</label>
      {{formulario.senha_empresta|addclass:'form-control'}}
    </div>
    <div class="form-group">
      <label for="id_identidade_retira">Identidade Militar</label>
      {{formulario.identidade_retira|addclass:'form-control'}}
      <small id="identidadeRetiraHelp" class="form-text text-muted">Insira seu número de identidade sem traços</small>
    </div>
    <div class="form-group">
      <label for="id_senha_retira">Senha</label>
      {{formulario.senha_retira|addclass:'form-control'}}
    </div>
    <div class="form-group">
      <label for="selecaoMaterial">Selecione o material</label>
      {{formulario.material_cautelado|addclass:'form-control'}}
      <small id="identidadeEmprestaHelp" class="form-text text-muted">Segure a tecla Control ao clicar para selecionar múltiplos materiais</small>
    </div>
    <button type="submit" class="btn btn-primary">Emprestar</button>
  </form>
{% endblock %}
